.css_dc_nombre_clie_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_nombre_clie_grid_line {vertical-align: top;text-align: right;}
.css_dc_num_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_num_documento_grid_line {vertical-align: top;text-align: right;}
.css_dc_email_clie_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_email_clie_grid_line {vertical-align: top;text-align: right;}
.css_ds_suscripcion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_suscripcion_grid_line {vertical-align: top;text-align: right;}
.css_ds_fecha_venta_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ds_fecha_venta_grid_line {vertical-align: top;text-align: center;}
.css_drs_direccion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_drs_direccion_grid_line {vertical-align: top;text-align: right;}
.css_u_names_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_names_grid_line {vertical-align: top;text-align: right;}
.css_u_surnames_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_surnames_grid_line {vertical-align: top;text-align: right;}
.css_u_canal_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_canal_grid_line {vertical-align: top;text-align: right;}
.css_ds_fecha_autoriza_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ds_fecha_autoriza_grid_line {vertical-align: top;text-align: center;}
.css_dc_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dc_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_dc_tipo_cliente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_tipo_cliente_grid_line {vertical-align: top;text-align: right;}
.css_dc_medio_contact_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_medio_contact_grid_line {vertical-align: top;text-align: right;}
.css_dc_tel_casa_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dc_tel_casa_grid_line {vertical-align: top;text-align: right;}
.css_dc_celular_clie_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_dc_celular_clie_grid_line {vertical-align: top;text-align: right;}
