.css_dc_tipo_cliente_det_label {text-align: right;vertical-align: middle;}
.css_dc_tipo_cliente_det_line {height:0px;text-align: right;}
.css_dc_nombre_clie_det_label {text-align: right;vertical-align: middle;}
.css_dc_nombre_clie_det_line {height:0px;text-align: right;}
.css_dc_num_documento_det_label {text-align: right;vertical-align: middle;}
.css_dc_num_documento_det_line {height:0px;text-align: right;}
.css_dc_medio_contact_det_label {text-align: right;vertical-align: middle;}
.css_dc_medio_contact_det_line {height:0px;text-align: right;}
.css_dc_tel_casa_det_label {text-align: right;vertical-align: middle;}
.css_dc_tel_casa_det_line {height:0px;text-align: right;}
.css_dc_celular_clie_det_label {text-align: right;vertical-align: middle;}
.css_dc_celular_clie_det_line {height:0px;text-align: right;}
.css_dc_fech_nacimiento_det_label {text-align: right;vertical-align: middle;}
.css_dc_fech_nacimiento_det_line {height:0px;text-align: right;}
.css_dc_email_clie_det_label {text-align: right;vertical-align: middle;}
.css_dc_email_clie_det_line {height:0px;text-align: right;}
.css_dc_pagador_mismo_det_label {text-align: right;vertical-align: middle;}
.css_dc_pagador_mismo_det_line {height:0px;text-align: right;}
.css_dc_fecha_registro_det_label {text-align: right;vertical-align: middle;}
.css_dc_fecha_registro_det_line {height:0px;text-align: right;}
.css_ds_suscripcion_det_label {text-align: right;vertical-align: middle;}
.css_ds_suscripcion_det_line {height:0px;text-align: right;}
.css_ds_fecha_venta_det_label {text-align: right;vertical-align: middle;}
.css_ds_fecha_venta_det_line {height:0px;text-align: right;}
.css_ds_fecha_ini_suscripcion_det_label {text-align: right;vertical-align: middle;}
.css_ds_fecha_ini_suscripcion_det_line {height:0px;text-align: right;}
.css_ds_publicacion_det_label {text-align: right;vertical-align: middle;}
.css_ds_publicacion_det_line {height:0px;text-align: right;}
.css_ds_periodo_suscripcion_det_label {text-align: right;vertical-align: middle;}
.css_ds_periodo_suscripcion_det_line {height:0px;text-align: right;}
.css_ds_frecuencia_det_label {text-align: right;vertical-align: middle;}
.css_ds_frecuencia_det_line {height:0px;text-align: right;}
.css_ds_fecha_autoriza_det_label {text-align: right;vertical-align: middle;}
.css_ds_fecha_autoriza_det_line {height:0px;text-align: right;}
.css_drs_departamento_det_label {text-align: right;vertical-align: middle;}
.css_drs_departamento_det_line {height:0px;text-align: right;}
.css_drs_ciudad_det_label {text-align: right;vertical-align: middle;}
.css_drs_ciudad_det_line {height:0px;text-align: right;}
.css_drs_barrio_det_label {text-align: right;vertical-align: middle;}
.css_drs_barrio_det_line {height:0px;text-align: right;}
.css_drs_direccion_det_label {text-align: right;vertical-align: middle;}
.css_drs_direccion_det_line {height:0px;text-align: right;}
.css_fp_medio_pago_det_label {text-align: right;vertical-align: middle;}
.css_fp_medio_pago_det_line {height:0px;text-align: right;}
.css_fp_num_tc_det_label {text-align: right;vertical-align: middle;}
.css_fp_num_tc_det_line {height:0px;text-align: right;}
.css_fp_tipo_tc_det_label {text-align: right;vertical-align: middle;}
.css_fp_tipo_tc_det_line {height:0px;text-align: right;}
.css_fp_vencimiento_tc_det_label {text-align: right;vertical-align: middle;}
.css_fp_vencimiento_tc_det_line {height:0px;text-align: right;}
.css_fp_banco_tc_det_label {text-align: right;vertical-align: middle;}
.css_fp_banco_tc_det_line {height:0px;text-align: right;}
.css_fp_num_cuotastc_det_label {text-align: right;vertical-align: middle;}
.css_fp_num_cuotastc_det_line {height:0px;text-align: right;}
.css_fp_debito_automatico_det_label {text-align: right;vertical-align: middle;}
.css_fp_debito_automatico_det_line {height:0px;text-align: right;}
.css_fp_ofrece_obsequio_det_label {text-align: right;vertical-align: middle;}
.css_fp_ofrece_obsequio_det_line {height:0px;text-align: right;}
.css_fp_precio_bruto_det_label {text-align: right;vertical-align: middle;}
.css_fp_precio_bruto_det_line {height:0px;text-align: right;}
.css_fp_descuento_det_label {text-align: right;vertical-align: middle;}
.css_fp_descuento_det_line {height:0px;text-align: right;}
.css_fp_valor_neto_det_label {text-align: right;vertical-align: middle;}
.css_fp_valor_neto_det_line {height:0px;text-align: right;}
.css_fp_observaciones_det_label {text-align: right;vertical-align: middle;}
.css_fp_observaciones_det_line {height:0px;text-align: right;}
.css_u_names_det_label {text-align: right;vertical-align: middle;}
.css_u_names_det_line {height:0px;text-align: right;}
.css_u_surnames_det_label {text-align: right;vertical-align: middle;}
.css_u_surnames_det_line {height:0px;text-align: right;}
.css_u_correo_det_label {text-align: right;vertical-align: middle;}
.css_u_correo_det_line {height:0px;text-align: right;}
.css_u_canal_det_label {text-align: right;vertical-align: middle;}
.css_u_canal_det_line {height:0px;text-align: right;}
