/* CSS Document */
 .card-collapse .card-header a[aria-expanded=true] {
    color: #00bcd4;
}

 .sinborde {
 background-color:transparent;
 background: inherit;
 color:#FFFFFF;
    border: 0;
	margin-top: 0;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-weight: lighter;
	width:auto;
  }
 #ofBar {
    background: #de2e2e;
    text-align: left;
    z-index: 999999999;
    font-size: 16px;
    color: #fff;
    padding: 18px 5%;
    font-weight: 400;
    display: block;
    position: relative;
    top: 0px;
    box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.25);
  }
  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
  }
  #close-bar {
    font-size: 22px;
    color: #3e3947;
    margin-right: 0;
    position: absolute;
    right: 5%;
    background: white;
    opacity: 0.5;
    padding: 0px;
    height: 25px;
    line-height: 21px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    top: 18px;
    cursor: pointer;
    z-index: 9999999999;
    font-weight: 200;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-color: #fff;
    color: #40312d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: .95;
    margin-left: 15px;
    top: 0px;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
  #btn-bar:hover{
    opacity: 0.9;
  }
  #btn-bar{
    opacity: 1;
  }

  #btn-bar span {
    color: red;
  }
  .right-side{
    float: right;
    margin-right: 60px;
    top: -6px;
    position: relative;
    display: block;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){
    .right-side{
      float:none;
      margin-right: 0px;
      margin-top: 5px;
      top: 0px
    }
    #ofBar {
      padding: 50px 20px 20px;
      text-align: center;
    }
    #btn-bar{
      display: block;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      font-size: 25px;
    }
  }
